<!DOCTYPE html>	
<html lang="en">	
<head>	
<meta charset="UTF-8">	
    <title>Portal de la I2D del IAvH</title>	
</head>	
    <body>	
        <h1>Portal de la I2D del IAvH</h1>
        <h2>¡Lo sentimos!</h2>
        <span>No pudimos encontrar la página que solicitaste:</span>
        <i><%= url %></i>
    </body>	
</html>
