html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

*:focus {
    outline: none !important;
}

a, a:hover {
    text-decoration: none;
}

img {
    border: 0;
}

body {
    font: 14px/24px 'Lato', sans-serif;
    font-size: 1em; 
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(/img/bg.png) top left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

.clearfix { display: inline-block; }

h1, h2, h5 {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1rem;
}

.wrapper {
    flex: auto;
    margin: 0 15px;
    border-right: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
    padding: 15px 0;
    background: url(/img/bg2.png) top right no-repeat;
}

header {
    background-color: #ebe5de;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    padding: 0 15px;
    margin-top: 10px;
}

.logoi2d {
    padding: 15px;
    border-right: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    border-right: 2px solid #d9d9d9;
    color: #3d3d3d;
    padding: 34px 15px;
    line-height: 85px;
    font-weight: 600;
    vertical-align: center;
}

nav a:first-of-type {
    border-left: 2px solid #d9d9d9;
}

nav a:hover {
    color: #f29532;
}

footer {
    background-color: #23212f;
    padding: 0 15px;
    margin: 0 auto;
    border-top: 2px solid #3d3d3d;
    display: flex;
    justify-content: space-between;
}

footer img {
    vertical-align: top;
    padding-right: 15px;
}

.logoiavh {
    padding: 15px;
    border-right: 2px solid #3d3d3d;
    border-left: 2px solid #3d3d3d;
}

footer h5 {
    padding-top: 15px;
    color: #fff;
    display: inline-block;
    font-size: 0.86rem;
    letter-spacing: 0.5px;
}

.linksft {
    text-align: right;
    border-right: 2px solid #3d3d3d;
    border-left: 2px solid #3d3d3d;
    padding: 15px;
    height: 113px;
}

.linksft a {
    color: #2c99c6;
    font-size: 0.8rem;
    display: block;
}

.linksft a:hover {
    color: #d6d6d6;
}

.container2 {
    border-bottom: 2px solid #d9d9d9;
}

.texthome {
    padding: 20px 20px 0;
}

/* search */

.search-div {
    padding: 20px 0;
    margin: 0px;
}

#searchInput {
    /*background-color: #b6b6b6 !important;*/
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 0;
    margin: 0;
    border: 2px solid #d9d9d9;
}

#searchInput:active, #searchButton:active {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: #c9c9c9;
}

.form-control:focus,
.form-control:active {
    box-shadow: none !important;
    border: none!important;
    outline: none !important;
}

    ::-webkit-input-placeholder {
       color: #153e5d !important;
       letter-spacing: 1px;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #153e5d !important;
       letter-spacing: 1px;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #153e5d !important;
       letter-spacing: 1px;  
    }

    :-ms-input-placeholder {  
       color: #153e5d !important;
       letter-spacing: 1px;  
    }

.results {
    max-height: 550px;
    overflow-y: scroll;
    margin-top: 10px;
}

.btn-secondary {
    background-color: #ef5d32;
    border: none;
    outline: none;
}

.reset {
    background-color: #ff002e;
}

.media {
    margin-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid #d9d9d9;
}

.results h3 {
    color: #123e5d;
    padding-left: 7px;
    border-left: 2px solid #123e5d;
    font-size: 1.25rem;
}

.media-body {
    padding-left: 15px;
}

#bioResults .media-body a {
    color: tomato;
}
#bioResults .media-body a:hover {
    color: #ff4347;
}
#geoResults .media-body a {
    color: #05959c;
}
#geoResults .media-body a:hover {
    color: #03898f;
}

.media-body p {
    overflow-wrap: anywhere;
}

.media-body h4 {
    font-size: 1.3rem;
}

.btn-block {
    width: auto;
    background-color: #2c99c6;
    border: none;
    float: right;
    outline: none;
    margin: 5px;
}

.btn-block:hover {
    background-color: #153e5d;
    color: #2c99c6;
}

.line {
    text-align: center;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    padding: 15px 0;
    margin-top: 30px;
    color: #ef5d32;
    letter-spacing: 1px;
}

.line2 {
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    padding: 12px 23px 5px;
    margin-top: 30px;
    color: #123e5d;
    letter-spacing: 1px;
}

.flexcenter {
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
    background: url(/img/bg4.png) bottom left no-repeat;
}

.box {
    width: 290px;   
    display: inline-block;
    grid-gap: 10px;
    background-color: #fff;
    margin: 15px auto;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.25);
    padding: 20px 15px 10px;
    transition: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.box:hover {  
    box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, 0.33);
}

.box p {
    display: inline-block;
    text-align: center;
    line-height: 1.1rem;
    color: #424242;
    margin-top: 10px;
}

.logocont {
    width: 150px;
    border-right: 2px solid #d9d9d9;
    padding-right: 10px;
    position: relative;
    margin-right: 10px;
}

.logocont img {
    display: block;
    margin-left: auto;
}

.disabled:hover {
    background-color: #ec5353;
    display: none;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 2px solid #d9d9d9;
	border-left: 2px solid #d9d9d9;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-right: 2px solid #d9d9d9;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

ul.tabs li a:hover {
	background: tomato;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not
        listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with
        its content--*/
}

.tab_container {
	border: 2px solid #d9d9d9;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

.div-disabled {
    width: 260px;
    height: 240px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    position: absolute;
    display: inline-table;
}

.div-disabled p{
    font-family: 'Montserrat', sans-serif; 
    font-size: 28px; 
    font-weight: 900; color: #f29532;
    display: table-cell; 
    vertical-align: middle;
}

/* Hide nav */
@media (max-width: 900px) {

    nav {
        display: none;
    }

}

@media (max-width: 450px) {

    body, html {
        font-size: 0.87em;
    }

    .wrapper {
        background-size: 75%;
    }

}

@media (max-width: 395px) {

    h1 {
        font-size: 2.2em;
    }

    footer h5 {
        display: none;
    }

}
