* {
    margin:0;
    padding:0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

*:focus {
    outline: none !important;
}

a {
    text-decoration: none;
    color: #db3f2a;
    font-weight: 300;
}

img {
    border: 0;
}

body {
    font: 14px/24px 'Lato', sans-serif;
    font-size: 1em; 
    line-height: 1.2;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

.clearfix { display: inline-block; }

/* header */

.banner {
    border-bottom: 5px solid #a7a4a4;
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

/* Add a gray background color and some padding to the footer */

footer {
    background-color: #f2f2f2;
    padding: 30px;
    margin: 0 auto;
    /*left: 50%;
    transform: translateX(-50%); */ 
    height: 160px;
}

.footerLogo {
    width: auto;
    height: auto;
    float: left;
    padding-left: 50px;
}

footer p {
    max-width: 300px;
    font-size: 14px;
    float: right;
    text-align: right;
    color: #2c4953;
    padding-right: 50px;
}

/* carousel */

.carousel-inner {
    max-height: 400px;
}

.carousel-inner img {
    margin: auto;
    height: auto;
}

.carousel-control {
    background: none !important;
}

.carousel-indicators {
    bottom: 10px !important;
}

.carousel-indicators li {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    border: none;
    background-color: #fff;
    margin: 0 2px;
}

.carousel-indicators .active {
    width: 23px;
    height: 23px;
    border-radius: 22px;
    background-color: #e09232;
    margin: 0 2px;
}

/* search */

.search-input {
    border-right: 0 !important;
}

.input-group-btn {
    border-left:0 solid transparent !important;
    background:transparent;
}

.search-div {
    border-top: 5px solid #4a7d7f;
    border-bottom: 5px solid #4a7d7f;
    padding: 40px 0;
    margin: 0px;
}

.glyphicon {
    vertical-align: center;
    color: #fff;
    line-height: 0.7;
    font-size: 28px;
    background: transparent;
}

#searchInput, #searchButton {
    background-color: #c9c9c9;
    color: #2c4953;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 0;
    margin: 0;
}

#searchInput:active, #searchButton:active {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.form-control:focus,
.form-control:active {
    box-shadow: none !important;
    border: none!important;
    outline: none !important;
}

    ::-webkit-input-placeholder {
       color: #4c7f80 !important;
       text-transform: uppercase;
       letter-spacing: 1px;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #4c7f80 !important;
       text-transform: uppercase;
       letter-spacing: 1px;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #4c7f80 !important;
       text-transform: uppercase;
       letter-spacing: 1px;  
    }

    :-ms-input-placeholder {  
       color: #4c7f80 !important;
       text-transform: uppercase;
       letter-spacing: 1px;  
    }

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .footerLogo {
       float: none;
       padding: 0;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin: 0 1px;
    }

    .carousel-indicators .active {
        width: 11px;
        height: 11px;
        border-radius: 10px;
        margin: 0 1px;
    }

    .btnText:after {
        content: "";
    }      
    .input-group-lg > .form-control {
        padding: 10px;    
    }

    footer p {
    font-size: 11px;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    }

}

@media (max-width: 360px) {

    .carousel-inner img {
        width: 100%;
        height: auto;
    }

    .carousel-inner {
        height: auto;
    }

    .search-div {
        border-top: 3px solid #4a7d7f;
        border-bottom: 3px solid #4a7d7f;
        padding: 15px 0;
    }
    ::-webkit-input-placeholder {
    font-size: 12px;
    }

    :-moz-placeholder { /* Firefox 18- */
    font-size: 12px;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 12px;  
    }

    :-ms-input-placeholder {  
    font-size: 12px; 
    }

    #searchInput {
        font-size: 12px;
    }


}
